/* Huvudstilmall Checkpoint 4 !BEMVERSION!*/

/* Table of Contents:
1. Resources
2. Body & Typography
3. Header
4. Content Area
5. Footer
6. Media Queries
   A. 970px
   B. 700px
*/

/* 1. RESOURCES */
@font-face {
    font-family: BreeSerifReg;
    src: url("../fonts/breeserif-regular-webfont.woff") format("woff"), url("../fonts/breeserif-regular-webfont.woff2") format("woff2");
}

/* 2. BODY & TYPOGRAPHY */
html {
    font-size: 1rem;
}

body {
    background: #eee;
}

.wrapper {
    margin: 0 auto;
    width: 960px;
    background: #fff;
    border: 1px solid #ccc;
}

p {
    font: 400 .9rem "Sora", arial, sans-serif;
    color: #222;
    line-height: 1.5em;
}

h1,
h2 {
    color: #c09;
}

h1 {
    font: normal 30px BreeSerifReg, arial, sans-serif;
}

h2 {
    font: 800 normal 21px "Sora", arial, sans-serif;
    margin: 1em .2em .75em;
    letter-spacing: 1.5px;
}

/* 3. HEADER */
header {
    height: 140px;
}

.no-js .header__banner {
  background-image: url("../images/luca-lago-NOD8zCeHGz0-unsplash.jpg");
}

.no-webp .header__banner {
  background-image: url("../images/luca-lago-NOD8zCeHGz0-unsplash.jpg");
}

.webp .header__banner{
  background-image: url("../images/luca-lago-NOD8zCeHGz0-unsplash.webp");
}

.header__banner {
    height: 100%;
    position: relative;
}

.header__bannerText h1 {
    background: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: .25em;
    box-shadow: 3px 2px 7px rgba(0, 0, 0, .4)
}

/* 4. CONTENT AREA */

section, .section__section, .section__sidebar {
    float: left;
}

section {
    padding: .85rem;
    padding-top: 1em;  
}

.section__section {
    width: 600px;
}

.section__sidebar {
    width: 308px;
    margin-left: 1.5rem;
}

img {
    width: 95%;
    display: block;
    padding: 1.85em 0 .5em;
}

/* 5. FOOTER */
.footer {
    clear: both;
    height: 200px;
}

.footer__paragraph {
    text-align: center;
    padding-top: 80px;
    font-size: .7em;
    font-weight: bold;
}

.footer__paragraph:last-of-type {
    padding-top: 0;
    font-weight: 100;
}

a {
    text-decoration: none;
    color: deeppink;
}

a:hover {
    color: firebrick;
}

/* 6. MEDIA QUERIES
   A. 980px screen*/
@media only screen and (max-width: 980px) {
    .wrapper {
        width: 100%;
    }

    section {
        padding: 1.5%;
    }
    
    .section__section {
        width: 64%;    
    }

    .section__sidebar {
        width: 34%;
        margin-left: 2%;
    }
}

/* B. 700px screen*/
@media only screen and (max-width: 700px) {
    .wrapper {
        width: 100%;
    }

    .section__section {
        width: 95%;
        margin-left: 2.5%;
    }
    
    img {
        padding-top: 2.7em;
    }

    .section__sidebar {
        width: 90%;
        margin-left: 5%;
    }
}
